@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Http
@inject IConfiguration Configuration;

@{
    Layout = null;
    ViewBag.Title = "Forgot Password";
    string apiUrl = Configuration.GetValue<string>("WebAPIBaseUrl");
}


<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Forgot Password</title>

    <meta name="theme-color" content="#ffffff">
    <script src="~/assets//js/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/js/vendors/simplebar/simplebar.min.js"></script>
    <script src="~/assets/js/config.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="../../../../../css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="~/assets/js/vendors/simplebar/simplebar.min.js" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/js/vendors/release/v4.0.0/css/line.css">
    <link href="~/assets/css/theme-rtl.min.css" type="text/css" rel="stylesheet" id="style-rtl">
    <link href="~/assets/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">
    <link href="~/assets/css/user-rtl.min.css" type="text/css" rel="stylesheet" id="user-style-rtl">
    <link href="~/assets/css/user.min.css" type="text/css" rel="stylesheet" id="user-style-default">

    <link rel="icon" href="~/images/brand/Fv.png" type="image/x-icon" />

    <!-- SELECT2 CSS -->
    <link href="~/plugins/select2/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/plugins/multipleselect/multiple-select.css">

    <style>
        .side-menu__item {
            color: black !important;
        }

        .header-brand-img {
            height: 6.5rem;
            line-height: 2rem;
            vertical-align: middle;
            margin-right: 0.5rem;
            width: auto;
        }

        #clientlogo {
            margin-top: -15px;
            margin-bottom: -15px;
        }


        .select2-container--default .select2-selection--single {
            background-color: none;
            border: none;
        }

        .select2-container .select2-selection--single {
            box-sizing: unset;
            cursor: none;
            display: none;
            height: none;
            user-select: none;
            -webkit-user-select: none;
        }

    </style>

    <style>
        #preloader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 9999;
        }

        .spinner {
            border: 4px solid rgba(255, 255, 255, 0.3);
            border-top: 4px solid #fff;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            animation: spin 1s linear infinite;
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

    </style>

</head>

<body>
    <main class="main" id="top">
        <div class="container-fluid px-0" data-layout="container">
            <div class="container-fluid">
                <div class="bg-holder bg-auth-card-overlay" style="background-image:url(../../../assets/img/bg/37.png);"></div>
                <!--/.bg-holder-->
                <div class="row flex-center position-relative min-vh-100 g-0 py-5">
                    <div class="col-11 col-sm-6 col-xl-4">
                        <div class="card border border-300 auth-card">
                            <div class="card-body pe-md-0">
                                <div class="row align-items-center gx-0 gy-7">
                                    <form action="#" role="form" class="validate" id="formPost" enctype="multipart/form-data">
                                        <div class="col mx-auto">
                                            <div class="auth-form-box">
                                                <div class="text-center mb-1">
                                                    <a class="d-flex flex-center text-decoration-none mb-2" href="~/index.html">
                                                        <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block">
                                                            <img src="~/images/brand/OMMR_LOGO_Final__1_-removebg-preview.png" class="header-brand-img" id="clientlogo" alt="">
                                                        </div>
                                                    </a>
                                                    <span class="login100-form-title">
                                                        Forgot Password
                                                    </span>
                                                </div>
                                                <div class="mb-1 text-start">
                                                    <div class="form-icon-container">
                                                        <input class="form-control form-icon-input" name="email" type="email" id="mails" autocomplete="off" placeholder="Enter Your EmailId">
                                                        <span class="fas fa-envelope text-900 fs--1 form-icon"></span>
                                                    </div>
                                                </div>
                                                <div class="mt-1 text-start">
                                                    <button type="button" id="btnForgotPassword" class="btn btn-success w-100 mb-3" onclick="redirectToSignUpPage()">Send</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script>
        // Function to redirect to SignUpForClient page
        function redirectToSignUpPage() {
            window.location.href = "/Home/Login";
        }
    </script>

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <script src="~/assets/js/vendors/popper/popper.min.js"></script>
    <script src="~/assets/js/vendors/popper/popper.min.js"></script>
    <script src="~/assets/js/vendors/anchorjs/anchor.min.js"></script>
    <script src="~/assets/js/vendors/is/is.min.js"></script>
    <script src="~/assets/js/vendors/fontawesome/all.min.js"></script>
    <script src="~/assets/js/vendors/lodash/lodash.min.js"></script>
    <script src="~/assets/js/vendors/v3/polyfill.min.js"></script>
    <script src="~/assets/js/vendors/list.js/list.min.js"></script>
    <script src="~/assets/js/vendors/feather-icons/feather.min.js"></script>
    <script src="~/assets/js/vendors/dayjs/dayjs.min.js"></script>
    <script src="~/assets/js/phoenix.js"></script>

    <!-- JQUERY SCRIPTS JS-->

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <script src="~/js/site.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

    @*<script src="~/Custom/plugins/sweetalert/sweet-alert.min.js"></script>*@
    <script src="~/Custom/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Custom/plugins/loading/loading.js"></script>

    <!-- BOOTSTRAP SCRIPTS JS-->
    <script src="~/js/vendors/bootstrap.bundle.min.js"></script>

    <!-- SPARKLINE JS-->
    <script src="~/js/vendors/jquery.sparkline.min.js"></script>

    <!-- CHART-CIRCLE JS-->
    <script src="~/js/vendors/circle-progress.min.js"></script>

    <!-- RATING STAR JS-->
    <script src="~/plugins/rating/rating-stars.js"></script>

    <!-- INPUT MASK JS-->
    <script src="~/plugins/input-mask/input-mask.min.js"></script>

    <!-- P-SCROLL JS -->
    <script src="~/plugins/p-scroll/p-scroll.js"></script>
    <script src="~/plugins/p-scroll/p-scroll-1.js"></script>

    <!--SIDEMENU JS-->
    <script src="~/plugins/sidemenu/icon-sidemenu.js"></script>

    <!-- SIDEMENU-RESPONSIVE-TABS JS-->
    <script src="~/plugins/sidemenu-responsive-tabs/js/sidemenu-responsive-tabs.js"></script>

    <!--LEFT-MENU JS-->
    <script src="~/js/left-menu.js"></script>

    <!-- SIDEBAR JS -->
    <script src="~/plugins/right-sidebar/right-sidebar.js"></script>

    <!-- SELECT JS -->
    <script src="~/plugins/multipleselect/multiple-select.js"></script>
    <script src="~/plugins/multipleselect/multi-select.js"></script>
    <script src="~/plugins/select2/select2.full.min.js"></script>
    <script src="~/js/select2.js"></script>
    <!-- C3 CHART JS -->
    <script src="~/plugins/charts-c3/d3.v5.min.js"></script>
    <script src="~/plugins/charts-c3/c3-chart.js"></script>
    <script src="~/chart/Chart.min.js"></script>
    <!-- CUSTOM JS-->
    <script src="~/js/custom.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 
        <script>
            $(document).ready(function () {
                $("#btnForgotPassword").click(function () {
                    var email = $("#mails").val();
                    var preloader = $("#preloader");
                    preloader.removeClass("d-none");

                    $.ajax({
                        type: "GET",
                        url: "@apiUrl/api/Agent/ForgotPassword/" + email,
                        success: function (data) {
                            preloader.addClass("d-none");
                            if (data === "This E-mail is not registered") {
                                Swal.fire({
                                    icon: "error",
                                    title: "Oops...",
                                    text: data,
                                });
                            } else {
                                Swal.fire({
                                    icon: "success",
                                    title: "Success!",
                                    text: data,
                                });
                            }
                        },
                        error: function (xhr, status, error) {
                            preloader.addClass("d-none");
                            Swal.fire({
                                icon: "error",
                                title: "Oops...",
                                text: "An error occurred while processing your request.",
                            });
                        }
                    });
                });
            });
        </script>

</body>

</html>




