@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Http
@inject IConfiguration Configuration;

@{
    ViewBag.Title = "Forgetten Password";
    string apiUrl = Configuration.GetValue<string>("WebAPIBaseUrl");
}
<style>
    #preloader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
    }

    .spinner {
        border: 4px solid rgba(255, 255, 255, 0.3);
        border-top: 4px solid #fff;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 1s linear infinite;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

</style>
<!-- PAGE-HEADER -->
<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fe fe-file-text mr-1"></i>Admin Console</a></li>
        <li class="breadcrumb-item active" aria-current="page">Forgetten Password</li>
    </ol>
</div>
<!-- PAGE-HEADER END -->


<div id="preloader" class="d-none">
    <div class="spinner"></div>
</div>

<div class="row">
    <div class="col-md">
        <div class="card overflow-hidden">
            <div class="card-header">
                <h3 class="card-title">Forgetten Password</h3>
            </div>
            <div class="card-body">
                <form action="#" role="form" class="validate" id="formPost">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="form-label">Email &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="mails" placeholder="Enter Yur Mail" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" id="btnForgotPassword" class="btn btn-radius btn-success">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#btnForgotPassword").click(function () {
                var email = $("#mails").val();
                var preloader = $("#preloader");
                preloader.removeClass("d-none");

                $.ajax({
                    type: "GET",
                    //url: "@apiUrl/api/ForgotPassword?email=" + email,
                    url: "@apiUrl/api/Agent/ForgotPassword/" + email,
                    success: function (data) {
                        preloader.addClass("d-none");
                        if (data === "This E-mail is not registered") {
                            Swal.fire({
                                icon: "error",
                                title: "Oops...",
                                text: data,
                            });
                        } else {
                            Swal.fire({
                                icon: "success",
                                title: "Success!",
                                text: data,
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        preloader.addClass("d-none");
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: "An error occurred while processing your request.",
                        });
                    }
                });
            });
        });
    </script>
}