@{
    Layout = null;
}




<html lang="en" dir="ltr">
<head>

    <!-- Meta data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta content="Admin Console – Business Administartion Tool By Appman Technologies" name="description">
    <meta content="Appman Technologies Private Limited" name="author">
    <meta name="keywords" content="Admin Console – Business Administartion Tool By Appman Technologies" />

    <!--favicon -->
    <link rel="icon" href="~/images/brand/favicon.ico" type="image/x-icon" />

    <!-- TITLE -->
    <title>@ViewBag.Title</title>

    <!-- DASHBOARD CSS -->
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/dark-style.css" rel="stylesheet" />
    <link href="~/css/color-skins/color1.css" rel="stylesheet" />
    <link href="~/css/skins-modes.css" rel="stylesheet" />

    <!--C3 CHARTS CSS -->
    <link href="~/plugins/charts-c3/c3-chart.css" rel="stylesheet" />

    <!--- FONT-ICONS CSS -->
    <link href="~/css/icons.css" rel="stylesheet" />

    <!-- SIDEBAR CSS -->
    <link href="~/plugins/right-sidebar/right-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body class="login-img dark-mode">

    <!-- GLOBAL-LOADER -->
    <div id="global-loader">
        <img src="~/images/svgs/loader.svg" class="loader-img" alt="Loader">
    </div>

    <div class="page h-100">
        <!-- PAGE-CONTENT OPEN -->
        <div class="page-content error-page">
            <div class="container text-center">
                <div class="error-template">
                   
                    <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Page not found.</h3>
                    <p>

                        We could not find the page you were looking for.Meanwhile,
                        you may <a href="/home/login">return to Login</a> or contact to Admin.
                    </p>
                </div>
            </div>
        </div>
        <!-- PAGE-CONTENT OPEN CLOSED -->
    </div>

    <!--/*PMboYSIqMee+p4uAjskftSrErYaF9PDNDn+EGSzR9N2BspYI8=
    feCz66HNQhyoUIndT6pXQpWta+PA3e1h3yExMyH1EsOo6f8PXnNPyHGLRfchOSF9WSX7exs=*/-->
    <!-- JQUERY SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/vendors/jquery-3.2.1.min.js"></script>

    <!-- BOOTSTRAP SCRIPTS -->
    <script src="~/js/vendors/bootstrap.bundle.min.js"></script>

    <!-- SPARKLINE -->
    <script src="~/js/vendors/jquery.sparkline.min.js"></script>

    <!-- CHART-CIRCLE -->
    <script src="~/js/vendors/circle-progress.min.js"></script>

    <!-- RATING STAR -->
    <script src="~/plugins/rating/rating-stars.js"></script>

    <!-- INPUT MASK PLUGIN-->
    <script src="~/plugins/input-mask/input-mask.min.js"></script>

    <!-- P-SCROLL JS -->
    <script src="~/plugins/p-scroll/p-scroll.js"></script>
    <script src="~/plugins/p-scroll/p-scroll-1.js"></script>

    <!-- CUSTOM JS-->
    <script src="~/js/custom.js"></script>


</body>
</html>